[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
pillow = "*"
numpy = "*"
python-dotenv = "*"
opencv-python = "*"
pandas = "*"
matplotlib = "*"
urllib3 = "==1.26.6"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.9"
